div {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.main {
  text-align: center;
}

.container-wrap {
  padding: auto;
}

.container {
  margin-top: 30px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-area {
  text-align: center;
}

#icon-delete {
  width: 50px;
}

#searched-keyword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  text-align: center;
  padding: 20px;
}

img {
  width: 230px;
}
